*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/app/release/
/app/src/irMarket/java/io/github/yamin8000/dooz/ad/AdConstants.kt
/app/free/
/app/irMarket/
/app/src/main/java/io/github/yamin8000/dooz/Previews.kt
